.top-navigation .main-header {
    width: 100% !important;
    margin-left: -8px !important;
}

.top-navigation .nav-fa {
    font-size: 20px;
}

.top-navigation .card-user {
    border: 0 !important;
    border-radius: 0 !important;
}

.top-navigation .header-user-name {
    margin-left: 6px;
}

@media (max-width: 991.98px) {
    .top-navigation .header-user-name {
        display: none !important;
    }
}

.top-navigation .navbar-light .btn-navbar {
    background-color: #f2f4f6;
    border: 0;
}

.top-navigation .container {
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-right: auto;
    margin-left: auto;
}

.top-navigation .user-dropdown-link {
    padding: 0.4rem 0.5rem 0 0.5rem !important
}

.top-navigation .user-dropdown-link img {
    padding: 3px;
    height: 33px;
    margin-top: -6px;
}

@media (min-width: 576px) {
    .top-navigation .container {
        max-width: 540px;
    }
}

@media (max-width: 768px) {
    #page-wrapper {
        padding: 0 !important;
    }

    .top-navigation .main-header {
        margin-left: 8px !important;
        margin-right: 8px !important;
    }
    .copyright-begin{
        display: none;
    }
}

@media (min-width: 768px) {
    .top-navigation .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .top-navigation .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .top-navigation .container {
        max-width: 1140px;
    }
}

@media (min-width: 1700px) {
    .top-navigation .container {
        max-width: 1500px;
    }
}


@media (min-width: 576px) {
    .top-navigation .container, .top-navigation .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .top-navigation .container, .container-sm, .top-navigation .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .top-navigation .container, .top-navigation .container-sm, .top-navigation .container-md, .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .top-navigation .container, .top-navigation .container-sm, .top-navigation .container-md, .container-lg, .top-navigation .main-header .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1650px) {
    .top-navigation .container, .top-navigation .container-sm, .top-navigation .container-md, .container-lg, .top-navigation .main-header .container-xl {
        max-width: 1450px;
    }
}

.top-navigation .dropup, .top-navigation .main-header .dropdown {
    position: relative;
}

.top-navigation .dropdown-toggle {
    white-space: nowrap;
}

.top-navigation .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}


.top-navigation .dropdown-menu-right {
    right: 0;
    left: auto;
}

.top-navigation .nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.top-navigation .nav-link:hover, .top-navigation .nav-link:focus {
    text-decoration: none;
}

.top-navigation .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
}

.top-navigation .navbar .container, .top-navigation .navbar .container-fluid, .top-navigation .navbar .container-sm, .top-navigation .navbar .container-md, .top-navigation .main-header .navbar .container-lg, .top-navigation .navbar .container-xl {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.top-navigation .navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.top-navigation .navbar-brand:hover, .top-navigation .navbar-brand:focus {
    text-decoration: none;
}

.top-navigation .navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.top-navigation .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.top-navigation .navbar-nav .dropdown-menu {
    position: static;
    float: none;
}

.top-navigation .navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.top-navigation .navbar-toggler {
    padding: 0.25rem 0.35rem;
    font-size: 1.0rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
}

.top-navigation .navbar-toggler:hover, .top-navigation .main-header .navbar-toggler:focus {
    text-decoration: none;
}

.top-navigation .navbar-toggler-icon {
    display: inline-block;
    width: 1.0em;
    height: 1.0em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
}

@media (max-width: 767.98px) {
    .top-navigation .navbar-expand-md > .container, .top-navigation .main-header .navbar-expand-md > .container-fluid, .top-navigation .main-header .navbar-expand-md > .container-sm, .top-navigation .navbar-expand-md > .container-md, .top-navigation .navbar-expand-md > .container-lg, .top-navigation .main-header .navbar-expand-md > .container-xl {
        padding-right: 0;
        padding-left: 8px;
    }
}

@media (min-width: 768px) {
    .top-navigation .navbar-expand-md {
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .top-navigation .navbar-expand-md .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .top-navigation .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .top-navigation .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }

    .top-navigation .navbar-expand-md > .container, .top-navigation .navbar-expand-md > .container-fluid, .top-navigation .main-header .navbar-expand-md > .container-sm, .top-navigation .main-header .navbar-expand-md > .container-md, .top-navigation .navbar-expand-md > .container-lg, .top-navigation .main-header .navbar-expand-md > .container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

    .top-navigation .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .top-navigation .navbar-expand-md .navbar-toggler {
        display: none;
    }
}

.top-navigation .navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.top-navigation .navbar-light .navbar-brand:hover, .top-navigation .main-header .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9);
}

.top-navigation .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    min-width: 40px;
}

.top-navigation .navbar-light .navbar-nav .nav-link:hover, .top-navigation .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
}

.top-navigation .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .top-navigation .navbar-light .navbar-nav .nav-link.show, .top-navigation .navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9);
}

.top-navigation .navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.top-navigation .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (min-width: 768px) {
    body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {
        transition: margin-left 0.3s ease-in-out;
        margin-left: 250px;
    }
}

@media (max-width: 991.98px) {
    body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .content-wrapper::before, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-footer::before, body:not(.sidebar-mini-md) .main-header, body:not(.sidebar-mini-md) .main-header::before {
        margin-left: 0;
        width: 100% !important;
    }
}

.top-navigation .main-header {
    border-bottom: 1px solid #dee2e6;
    z-index: 1034;
}

.top-navigation .main-header .nav-link {
    height: 2.5rem;
    position: relative;
}

.top-navigation .main-header .navbar-nav .nav-item {
    margin: 0;
}

.top-navigation .navbar-badge {
    font-size: .6rem;
    font-weight: 300;
    padding: 2px 4px;
    position: absolute;
    right: 5px;
    top: 0px;
    border-radius: 50%;
}

.top-navigation .btn-navbar {
    background-color: transparent;
    border-left-width: 0;
}

.top-navigation .form-control-navbar {
    border-right-width: 0;
}

.top-navigation .form-control-navbar + .input-group-append {
    margin-left: 0;
}

.top-navigation .form-control-navbar, .top-navigation .main-header .btn-navbar {
    transition: none;
}

.top-navigation .navbar-light .form-control-navbar, .top-navigation .main-header .navbar-light .btn-navbar {
    background-color: #f2f4f6;
    border: 0;
}

.top-navigation .navbar-light .form-control-navbar::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.top-navigation .navbar-light .form-control-navbar::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.top-navigation .navbar-light .form-control-navbar + .input-group-append > .btn-navbar {
    color: rgba(0, 0, 0, 0.6);
}

.top-navigation .navbar-light .form-control-navbar:focus, .top-navigation .navbar-light .form-control-navbar:focus + .input-group-append .btn-navbar {
    background-color: #e9ecef;
    border: 0 !important;
    color: #343a40;
}

.top-navigation .dropdown-item-title {
    font-size: 1rem;
    margin: 0;
}

.top-navigation .dropdown-menu-lg {
    max-width: 300px;
    min-width: 280px;
    padding: 0;
}

.top-navigation .dropdown-menu-lg .dropdown-divider {
    margin: 0;
}

.top-navigation .dropdown-menu-lg .dropdown-item {
    padding: 0.5rem 1rem;
}

.top-navigation .dropdown-menu-lg p {
    margin: 0;
    white-space: normal;
}

.top-navigation .dropdown-submenu {
    position: relative;
}

.top-navigation .dropdown-submenu > a:after {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
    float: right;
    margin-left: .5rem;
    margin-top: .5rem;
}

.top-navigation .dropdown-submenu > .dropdown-menu {
    left: 100%;
    margin-left: 0px;
    margin-top: 0px;
    top: 0;
}

.top-navigation .dropdown-hover:hover > .dropdown-menu, .top-navigation .main-header .dropdown-hover.nav-item.dropdown:hover > .dropdown-menu, .top-navigation .main-header .dropdown-hover .dropdown-submenu:hover > .dropdown-menu, .top-navigation .main-header .dropdown-hover.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.top-navigation .dropdown-footer, .top-navigation .dropdown-header {
    display: block;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    text-align: center;
}

.top-navigation .navbar-no-expand {
    -ms-flex-direction: row;
    flex-direction: row;
}

.top-navigation .navbar-no-expand .nav-link {
    padding: 0.8rem 0.5rem 0 0.5rem;
}

.top-navigation .navbar-no-expand .dropdown-menu {
    position: absolute;
}

.top-navigation .navbar-light {
    background-color: #f8f9fa;
}

.top-navigation .navbar-white {
    background-color: #ffffff;
}

.img-circle {
    border-radius: 50%;
}

.img-size-64, .img-size-50, .img-size-32 {
    height: auto;
}

.img-size-50 {
    width: 50px;
}

.elevation-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.top-navigation .dropdown-megamenu {
    padding: 10px !important;
    left: 20px !important;
    right: 20px !important;
    position: fixed !important;
    top: 50px;
    width: 95%
}

@media (max-width: 575.98px) {
    .top-navigation .dropdown-megamenu {
        top: 0 !important;
        position: relative !important
    }

    .top-navigation .dropdown-megamenu a.dropdown-item {
        padding-left: 20px !important
    }

    .top-navigation .dropdown-megamenu .list-unstyled {
        margin-bottom: 5px !important
    }

    .top-navigation .dropdown .dropdown-item {
        background-color: #fff !important
    }
}

.top-navigation .navbar-nav .dropdown-item {
    color: #74788d
}

.top-navigation .navbar-nav .dropdown-item.active, .top-navigation .navbar-nav .dropdown-item:hover {
    color: #5664d2
}

@media (min-width: 576px) {

    .top-navigation .dropdown-item {
        padding: .5rem 1.5rem;
        min-width: 180px
    }
}
.nav-search-form{
    width: 165px;
}
