body.top-navigation{
    background-color: #f3f3f4!important;
}
.docs-menu-box {
    max-width: 220px;
    width: 100%;
    float: left;
    position: relative;
    /*box-shadow:0 1px 5px #333;*/
    /*border: 1px solid rgba(0,0,0,.1);*/

}

.docs-menu-box .docs-menu-box-footer, .docs-menu-box .docs-menu-box-header {
    width: 100%;
    height: 50px;
    padding-left: 22px;
    float: left;
    line-height: 50px;
    font-weight: 600;
    color: #f0f0f0;
    background: #414956
}

.docs-menu-box ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.docs-menu-box ul li {
    width: 100%;
    display: block;
    float: left;
    position: relative
}

.docs-menu-box ul li a {
    width: 100%;
    padding: 14px 22px;
    float: left;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 13px;
    background: #414956;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.docs-menu-box > ul > li.active > a, .docs-menu-box > ul > li:hover > a {
    color: #fff;
    background: #3b424d
}

.docs-menu-box > ul > li > a {
    border-bottom: solid 1px #3b424d
}

.docs-menu-box ul li a i {
    width: 34px;
    float: left;
    line-height: 18px;
    font-size: 16px;
    text-align: left
}

.docs-menu-box ul ul.submenu, .docs-menu-box ul ul.submenu li ul.submenu {
    width: 100%;
    display: none;
    position: static
}

.docs-menu-box ul ul.submenu li {
    clear: both;
    width: 100%
}

.docs-menu-box ul ul.submenu li a {
    width: 100%;
    float: left;
    font-size: 11px;
    background: #383838;
    border-top: none;
    position: relative;
    border-left: solid 6px transparent;
}

.docs-menu-box.white ul ul.submenu li a {
    background: #fff;
    color: #555 !important;
}

.docs-menu-box ul ul.submenu li:hover > a {
    border-left-color: #414956
}

.docs-menu-box ul ul.submenu > li > a {
    padding-left: 30px
}

.docs-menu-box ul ul.submenu > li > ul.submenu > li > a {
    padding-left: 45px
}

.docs-menu-box ul ul.submenu > li > ul.submenu > li > ul.submenu > li > a {
    padding-left: 60px
}

.docs-menu-box ul li .docs-menu-box-label, .docs-menu-box ul ul.submenu li .docs-menu-box-label {
    min-width: 20px;
    padding: 1px 2px 1px 1px;
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 11px;
    font-weight: 800;
    color: #555;
    text-align: center;
    line-height: 18px;
    background: #f0f0f0;
    border-radius: 100%
}

.docs-menu-box ul ul.submenu li .docs-menu-box-label {
    top: 12px
}

.white.docs-menu-box .docs-menu-box-footer, .white.docs-menu-box .docs-menu-box-header, .white.docs-menu-box ul li a {
    background: #fff;
    color: #555
}

.white.docs-menu-box > ul > li.active > a, .white.docs-menu-box > ul > li:hover > a {
    background: #f0f0f0
}

.white.docs-menu-box > ul > li > a {
    border-bottom-color: #f0f0f0
}

.white.docs-menu-box ul ul.submenu li:hover > a {
    border-left-color: #f0f0f0
}

.white.docs-menu-box ul ul.submenu li a {
    color: #f0f0f0
}

.black.docs-menu-box .docs-menu-box-footer, .black.docs-menu-box .docs-menu-box-header, .black.docs-menu-box ul li a {
    background: #292929
}

.black.docs-menu-box > ul > li.active > a, .black.docs-menu-box > ul > li:hover > a {
    background: #222
}

.black.docs-menu-box > ul > li > a {
    border-bottom-color: #222
}

.black.docs-menu-box ul ul.submenu li:hover > a {
    border-left-color: #222
}


/*自定义箭头*/
.custom-arrow {
    float: right;
    right: 22px;
    position: absolute;
    line-height: 19px;
    font-size: 20px;
    width: 8px;
    height: 8px;
}

.custom-right-arrow {
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: #ccc;
    content: '';
    position: absolute;
    right: 9px;
    top: 20px;
    transform: rotate(45deg);
}

.custom-down-arrow {
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: #ccc;
    content: '';
    position: absolute;
    right: 7px;
    top: 20px;
    transform: rotate(135deg);
}
.footer{
    position: fixed!important;
}
/*定义左边布局*/
.docs-box {
    display: flex;
    width: 100%;
    /*height: calc(100vh - 100px);*/
    /*overflow: auto;*/
    /*position: relative;*/
    position: absolute;
}

.docs-left-menu {
    flex: 0 0 220px;
    /*margin-bottom: 50px;*/
    overflow: auto;
    height: calc(100vh - 102px);
    background-color: #fff;

    /*position: fixed;*/
    position: sticky;
    top: 0;
    border: 1px solid rgba(0, 0, 0, .1);

    /* 设置左右方向显示隐藏 */
    /*height: 100%;*/
    z-index: 999;
    transition: all 0.5s;
}

@media screen and (max-width: 768px) {
    /*.docs-left-menu{*/
    /*    flex:0 0 0px;*/
    /*}*/
    .docs-left-menu {
        /*position: fixed;*/
    }

    .docs-right-content {
        margin-left: -25px !important;
    }

    .docs-menu-btn-nav {
        /*position: absolute!important;*/
        /*top: 30vh!important;*/
        transition: all 0.5s;
    }

    .show-menu.docs-menu-btn-nav {
        left: 220px !important;
    }

    .top-navigation .container {
        padding: 0;
    }
    .copyright-begin{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .docs-menu-btn-nav {
        /*display: none;*/
    }
}

.docs-right-content {
    flex: 1 1;
    padding: 0 20px;
    margin: 10px 0 44px 0;
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* 提高 iOS 滑动性能 */
}
.docs-right-content::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 */
}
.docs-right-content::after{
    content: "";
    display: block;
    clear: both;
}


.docs-menu-btn-nav.show-menu {
    background-image: url('../img/nuv_03.png');
}

.docs-menu-btn-nav.hidden-menu {
    background-image: url('../img/nuv_04.png');
}

.docs-menu-btn-nav {
    position: sticky;
    left: 0;
    top: 40vh;
    width: 25px;
    height: 93px;
    border-style: none;
    background: url('../img/nuv_03.png') no-repeat transparent;
    outline: none;
    border-left: 1px solid #fff;
    margin-left: -1px;
    z-index: 999;
}

